body, 
html, 
*{ 
    background-color: var(--primary);
}

h1 {
    text-align: center;
    font-size: --h1;
    color: var(--secondary);
    background-color: var(--primary);
  
}

:root {
    --black: #000000;
    --light: #CBC3E3;
    --dark: #761187;
    --beige: #F5F5DC;
    --h1: 9.594 rem;
    --h2: 7.125 rem;
    --h3: 5.375 rem;

    --primary: var(--light);
    --secondary:var(--beige);

}
.gallery {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-content: center; }

    
.good {
   --primary: var(--light);
   --secondary:var(--beige);
   
}
.bad{
  --primary: var(--dark);
  --secondary: var(--black);

}

.box {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-content: center; 
}

.name {
    font-size: var(--h2);
    margin-top: 20px ;
    text-align: center;
    color: var(--primary);
    background-color: var(--secondary);

}

.card-img {
    width: 50vh;
    height: 50vh; 
    align-items: center;
}

.card-desc {
        text-align: center;
        font-size: var(--h3);
        background-color: var(--secondary);
        color: var(--primary);
}

.card {
    background-color: var(--secondary);
    height: 50 rem;
        width: 50 rem;
        align-items: center;
        margin: 12px 1px;
}
