
h1 {
    text-align: center;
    font-size: 200%;
    padding: .5%;
    font-family: 'Rancho', cursive;
    font-size: var(--h1);
    background-color: var(--primary);
  
}

.gallery
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    background-color: var(--secondary);

}
:root {
    --dark:#61208b;
    --black: #000000
    --light: #dfaff1 
    --white: #F8F8FF
    --h1: 7.594 rem
    --h2: 5.123 rem 

    --primary: var(--light);
    --secondary:var(--white);

}
.good {
   --primary: var(--light);
   --secondary:var(--white);
}
.bad{
  --primary: var(--dark);
  --secondary: var(--black);

}
